.wo-programs {
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  &-card {
    height: 250px;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}